/*  This is the layout css file.  It contains all of the styling for for the layout view.  This includes everything except what would normally be displayed within the "content" div. */

/* 
Basic legend for hex colors:

#000(black)
#393939(dark grey)
#8f8f8f(grey)
#dddddd(light grey)
#fff(white)
#009604(green)
#ceffcf(light green)

*/




/* Browser Reset */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
section, header, footer, aside, article {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        z-index: 0;
}
body {
        line-height: 1;
}
ol, ul {
        list-style:;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
 
/* remember to define focus styles! */
:focus {
        outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/*  End Reset */


/* Globals */



html,body{
	background-color:#393939;
	font: 100% trebuchet ms,arial,sans-serif;
	min-height: 100%; 
	margin-bottom: 1px;
}
a{
	color:#fff;
}



code{
	text-indent:50px;
}


/*  *****Layout Begins***** */

/*Container wraps entire layout = header & body*/
#container{
	margin:0 auto; 
	width:960px; 
}
	
	/* Header wraps = logo, headnav, and usernav*/
#header{
	-khtml-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	position:relative;
	width:960px;
	height:50px;
	background:#1c1c1c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#1c1c1c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#1c1c1c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #393939,  #1c1c1c); /* for firefox 3.6+ */
	border:1px solid #8f8f8f;
	border-top:none;
	color:#ffffff;
}

	/* Begin logo */

	#logo{
		position:relative;
		width:240px;
	}
		.logoBox{
			position:absolute;
			top:12px;
			left:8px;
		}
		.logoBox a{
			border:0;
			text-decoration:none;
		}
		.logoBox a:hover{
			border-bottom:1px solid #009604;
		}
	/* End logo */
	 
	/* Begin Headnav - The headnav contains the links (Search, Popular, and Recent) */
	#headnav{
	position:relative;
	float:left;
	left:260px;
	height:38px;
	width:351px;
	vertical-align:middle;
	}
		#headlist{
			width:100%;
			padding:0;
			margin:0;
			list-style-type:none;
			height:40px;
		}

			li.headnav{
				/* Rounded corners */
				-khtml-border-radius-bottomright: 5px;
				-khtml-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				display:inline;
				border:1px solid #8f8f8f;
				border-top:none;
				color:#009604;
				font-weight:bold;
				font-size:20px;
			}

			li.headnav#active{
				border:1px solid #009604;
				border-bottom:2px solid #009604;
				background:#1c1c1c;
			}

				a.headnav{
					text-decoration:none;
					color:#ffffff;
					padding-right:10px;
					padding-left:10px;
				}

				a.headnav:hover{
					border-bottom:2px solid #009604;
				}
	/* End Headnav */
	/* Begin User Navigation - Contains Register, Login, Logout, Settings, Home, and Admin Control Panel*/
	#usernav{
		float:right;
		position:relative;
		top:15px;
		height:;
		width:355px;
		border:0px solid #ff0000;
	}
		#userlist{
			border:0px solid #8f8f8f;
			float:right;
			text-align:right;
			height:;
			width:355px;
			list-style-type:none;
			text-shadow: rgba(0, 0, 0, 0.5) 0 3px 3px;
		}

			li.usernav{
				display:inline;
				height:;
				font-weight:bold;
				font-size:14px;
			}

			li.usernav#first{
				border-right:1px solid #009604;
			}

				li.usernav a{
					height:;
					text-decoration:none;
					color:#dddddd;
					padding-right:10px;
					padding-left:10px;
					font-weight:bold;
				}
				
				li.usernav a:hover{
					color:#009604;
				}
/* End User Navigation */
				
/* End Header */


/* Begin Body - Body wraps leftBox(Group & Tag Modules), rightBox(Topic Navigation & Content), bigBox(basic content page), and the footer */
#body{
	position:relative;
	height:500px;
	width:960px;
}

/* Begin leftBox - wraps Group Module, and Tag Module */

	#leftBox{
		width:220px;
		margin-top:20px;
		margin-bottom:20px;
		margin-left:;
		float:left;
		color:;
	}
	#leftBox.topic{
		margin-top:39px;
	}
		/*  Control the Title over the Group Module, namely the word: "Groups" */
		
			/*   Begin Group Module */
			#groupMod{
				border-style:0px;
			}

				.groupBox{
					list-style-type: none;
					margin:0;
					padding:0;
					border:0px solid #000000;
					color:;
				}
				
				ul.groupBox li#title{
						font-size:20px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece'); /* for IE */
						background: -moz-linear-gradient(top,  #fcfcfc,  #cecece); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#cecece));
						background:;
						height:; 
						padding: 4px 0 4px 10px;
						line-height: 24px;
						text-decoration: none;
						text-align:center;
						border:1px solid #000000;
						border-bottom:none;
						border-right:none;
						text-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
				}
	
					ul.groupBox li a{
						font-size:14px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); /* for IE */
						background: -moz-linear-gradient(top,  #ffffff,  #dddddd); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
						height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
						padding: 4px 0 4px 10px;
						line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
						text-decoration: none;
						border:1px solid #000000;
						border-right:none;
					}	
	
					ul.groupBox a:link, ul.groupBox a:visited {
						color:#000000;
					}
                     
					ul.groupBox a:hover{
					color: #009604;
					}

					/*  brings the selected group item to the right, meshing it with the content */
					ul.groupBox a.select{
					position:relative;
						color:#009604;
						left:1px;
						background:#ffffff;
					}
					/* This does the same as above, just increases the height as well for additional content (dropdown, checkbox, etc.) */
					ul.groupBox a.selecthier{
					position:relative;
						color:#009604;
						text-align:;
						height:56px;
						left:1px;
						background:#ffffff;
					}
					
					
					ul.groupBox a.normal{
						border-bottom:none;
					}
			
			
		/* End Group Module */
		
		/* Start Tag Module */
		div.tagMod{
			border:;
			margin-top:20px;
			color:#000000;
			font-weight:bold;
			font-size:20px;
			text-align:center;
		}
		
				ul.tagBox{
					list-style-type: none;
					margin:0;
					padding:0;
					border:0px solid #000000;
					color:;
					text-align:left;
				}
				
				ul.tagBox li#title{
						font-size:20px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece'); /* for IE */
						background: -moz-linear-gradient(top,  #fcfcfc,  #cecece); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#cecece));
						height:; 
						padding: 4px 0 4px 10px;
						line-height:;
						text-decoration: none;
						text-align:center;
						border:1px solid #000000;
						border-bottom:none;
						border-right:none;
						text-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
				}
				ul.tagBox li#add{
						font-size:20px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece'); /* for IE */
						background: -moz-linear-gradient(top,  #fcfcfc,  #cecece); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#cecece));
						height:; 
						padding: 4px 0 4px 10px;
						line-height: 24px;
						text-decoration: none;
						text-align:center;
						border:1px solid #000000;
						border-bottom:none;
						border-right:none;
						text-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
				}
				ul.tagBox li#bottom{
						font-size:15px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece'); /* for IE */
						background: -moz-linear-gradient(top,  #fcfcfc,  #cecece); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#cecece));
						height:; 
						padding: 4px 0 4px 10px;
						line-height: 24px;
						text-decoration: none;
						text-align:center;
						border:1px solid #000000;
						border-bottom:;
						border-right:none;
						
				}
	
					ul.tagBox li{
						font-size:12px;
						font-weight:bold;
						display: block;
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); /* for IE */
						background: -moz-linear-gradient(top,  #ffffff,  #dddddd); /* for firefox 3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
						height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
						padding: 4px 4px 4px 1px;
						line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
						text-decoration: none;
						border:1px solid #000000;
						border-right:none;
					}	
	
					ul.tagBox a:link, ul.tagBox a:visited {
						color:#ff0000;
						text-decoration:none;
					}
                     
					ul.tagBox a:hover{
						color: #ff0000;
						text-decoration:underline;
					}

					/*  brings the selected group item to the right, meshing it with the content */
					ul.tagBox li.select{
					position:relative;
						color:#009604;
						left:1px;
						background:#ffffff;
					}
					/* This does the same as above, just increases the height as well for additional content (dropdown, checkbox, etc.) */
					ul.tagBox li.selecthier{
					position:relative;
						color:#009604;
						text-align:;
						height:56px;
						left:1px;
						background:#ffffff;
					}
					ul.tagBox li.normal{
						border-bottom:none;
					}
					ul.tagBox li.ignore{
						color:#8f8f8f;
					}
					ul.tagBox li.exclude{
						color:#ff0000;
					}
					ul.tagBox li.or{
						color:#000000;
					}
					ul.tagBox li.and{
						color:#009604;
					}
					
					ul.tagBox a#red{
						color:#ff0000;
						text-decoration:none;
					}
					ul.tagBox a#green{
						color:#009604;
						text-decoration:none;
					}
					img.inline{
						position:relative;
						top:4px;
						float:right;
					}
					
		/* End Tag Module */
	/* End Left Box */


	/* Start Right Box - rightBox consisters of 3 divs - The topic navigation, control navigation (edit + admin), and the content.*/
	div#rightBox{
		float:left;
		width:740px;
		color:#000000;
		margin-top:20px;
	}
		/* Start Topic Navigation -  */
		div.topicnav{
		float:left;
		vertical-align:bottom;
		width:500px;
		}
		
			ul#topicnav { 
				text-align:left; 
				margin: 0 0 0 0; 
				font: bold 12px verdana, arial, sans-serif; 
				border-bottom: 1px solid #000; 
				list-style-type: none;
				padding: 3px 10px 7px 10px; /* THIRD number must change with respect to padding-top (X) below */
			}

 
			ul#topicnav li { 
			display: inline;
			}

			ul#topicnav li a { 
				padding: 7px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
				border: 1px solid #000; 
				background-color:#dddddd; 
				color: #1c1c1c; 
				margin-right: 1px; 
				text-decoration: none;
				border-bottom: none;
			}

			ul#topicnav a:hover { 
				border-top:2px solid #009604;
			}

		/* End Topic Navigation */

		/* Begin Control Nav (edit + control) */
		
		div.controlnav{
			text-align:right;
			
		}
		
			ul#controlnav {
				text-align:right; 
				margin: 0 0 0 0; 
				font: bold 11px verdana, arial, sans-serif; 
				border-bottom: 1px solid #000;
				list-style-type: none;
				padding: 3px 10px 7px 10px; /* THIRD number must change with respect to padding-top (X) below */
			}
			
			ul#controlnav li { 
				display: inline;
			}
			
			ul#controlnav li a { 
				padding: 7px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
				border: 1px solid #000; 
				background-color:#dddddd; 
				color: #000;
				margin-right: 1px;
				text-decoration: none;
				border-bottom: none;
			}

			ul#controlnav a:hover { 
				border-top:2px solid #009604;
			}
			/*  End Control Nav */
			
								/*  These two declarations below cover BOTH topic nav AND control nav.  I copied this css tab script from another site and after configuring it I think there is a more elegant way to set each of the li menu items as active.
									This script forces you to place an ID value within the body tag, and that id value determines which item is selected.  I'll have to come back change this later. */

				
		
							div#problem li.problem, div#action li.action, div#discussion li.discussion, div#solutions li.solutions, div#control li.control, div#edit li.edit { /* settings for selected tab */
								border-bottom: 0px solid #fff; 
								
							}
 
							div#problem li.problem a, div#action li.action a, div#discussion li.discussion a, div#solutions li.solutions a, div#control li.control a, div#edit li.edit a { /* settings for selected tab link */
								background-color: #fff; 
								color: #000; 
								position: relative;
								top: 1px;
								padding-top: 7px; /* must change with respect to padding (X) above and below */
								border-top:2px solid #009604;
							}
		
		
		
		/* Start Admin Navigation -  */
		div.adminnav{
		vertical-align:bottom;
		}
		
			ul#adminnav { 
				text-align:left; 
				margin: 0 0 0 0; 
				font: bold 12px verdana, arial, sans-serif; 
				border-bottom: 1px solid #000; 
				list-style-type: none;
				padding: 3px 10px 7px 10px; /* THIRD number must change with respect to padding-top (X) below */
			}

 
			ul#adminnav li { 
			display: inline;
			}

			ul#adminnav li a { 
				padding: 7px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
				border: 1px solid #000; 
				background-color:#dddddd; 
				color: #1c1c1c; 
				margin-right: 1px; 
				text-decoration: none;
				border-bottom: none;
			}

			ul#adminnav a:hover { 
				border-top:2px solid #009604;
			}
			
			div#anb li.anb, div#mnb li.mnb, div#users li.users, div#groups li.groups, div#system li.system { /* settings for selected tab */
				border-bottom: 0px solid #fff; 
			}
 
			div#anb li.anb a, div#mnb li.mnb a, div#users li.users a, div#groups li.groups a, div#system li.system a { /* settings for selected tab link */
				background-color: #fff; 
				color: #000; 
				position: relative;
				top: 1px;
				padding-top: 7px; /* must change with respect to padding (X) above and below */
				border-top:2px solid #009604;
			}
			
		/* End Admin Navigation */
		
		
		/* bigBox is used for standard pages that require no group/tag/topic navigation (such as welcome_message.php, general.php, etc.) */	
	#bigBox{
		margin-top:20px;
		position:;
		float:left;
		width:960px;
		color:#000000;
		margin-top:20px;
	}
	/* END bigBox*/
	
	
	/* Begin Footer */
	
	#footer{
	-webkit-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	width:960px;
	height:65px;
	background:#1c1c1c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#1c1c1c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#1c1c1c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #393939,  #1c1c1c); /* for firefox 3.6+ */
	border:1px solid #8f8f8f;
	text-align:center;
	vertical-align:middle;
	color:#c8c7c7;
	clear:both;
	}
	img#syner{
		vertical-align:top;
	}
	
	ul.footnav{
			padding-top:5px;
			padding-bottom:5px;
			margin:0;
			list-style-type:none;
			text-shadow: rgba(0, 0, 0, 0.5) 0 3px 3px;
		}

			li.footnav{
				padding-right:.75em;
				padding-left:.5em;
				display:inline;
				color:#ffffff;
				font-weight:bold;
			}
			li.footnav#border{
				border-right:1px solid #009604;
			}
	
	#footer a{
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
		text-shadow: rgba(0, 0, 0, 0.5) 0 3px 3px;
	}
	#footer a:hover{
		color:#009604;
	}
	
	
	/* End Footer */